<form action="/users" method="post" accept-charset="UTF-8">
  <div>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  </div>
  <div>
    <label for="username">username:</label>
    <input type="text" id="username" placeholder="username" name="user[username]">
  </div>

  <div>
    <label for="email">email:</label>
    <input type="email" id="email" placeholder="example@example.com" name="user[email]">
  </div>

  <div>
    <label for="password">password:</label>
    <input type="password" id="password" name="user[password]">
  </div>

  <button type="submit">Submit</button>
</form>